<h1> Welcome to secret Page </h1>

<img src="https://farm3.staticflickr.com/2779/4448117908_289d0ab0e3.jpg">
<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
